/* Add here all your css styles (customizations) */
@import url('https://fonts.googleapis.com/css?family=Kanit:400,700|Sarabun:400,700');

html {
    font-size: 14px;
}

body {
    font-family: 'Sarabun';
    font-weight: 400;
    font-size: 1.1rem;
    font-family: sans-serif;

    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    background-color: #fff;
}
h1,h2,h3,h4,h5{
    font-family: 'Kanit' !important;
    font-weight: 700 !important;
}
.h1,.h2,.h3,.h4,.h5{
    font-family: 'Kanit' !important;
    font-weight: 700 !important;
}
a{
    font-family: 'Sarabun';
    font-weight: 400;
}

.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #555;
    border-radius: 3px;
    z-index:9999;
}

.overlay .l-text {
    font-size: 24px;
    margin-top: 15px;
}
.prompt-400{
    font-family: 'Prompt' !important;
    font-weight: 400 !important;
}
.prompt-600{
    font-family: 'Prompt' !important;
    font-weight: 600 !important;
}
.cursor-pointer{
    cursor: pointer !important;
}




/* ===== Horizontal Rule ===== */
.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
    font-size: 1rem;
    display: inline-block;

    width: 100%;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.sel::before {
    position: absolute;
    content: '\f063';
    font-family: 'FontAwesome';
    font-size: 1.3rem;
    color: #000000;
    right: 20px;
    top: calc(50% - 0.5em);
}

.sel.active::before {
    transform: rotateX(-180deg);
}

.sel__placeholder {
    display: block;

    font-size: 1.2em;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    font-size: 1.5em;
    padding: 0.5em 1em;
    user-select: none;
}

.sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
}

.sel__box__options.selected::after {
    display: inline;
}

.sel__box__options:hover {
    background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.sel--black-panther {
    z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
    /*   display: none; */
    z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/* On Mobile */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 90% !important;
    }
    .navbar-expand-lg .navbar-collapse {
        padding-left: 10%;
    }
    .bg-asset-on-mobile {
        height: 200px;
    }
    .modal-container-closeasset {
        width: 95% !important;
    }
    nav.js-mega-menu.navbar.navbar-expand-lg.g-pa-0.hs-menu-initialized.hs-menu-horizontal.hs-mobile-state {
        background-color: #fff;
    }
    button.navbar-toggler.navbar-toggler-right {
        margin-top: -10px !important;
    }
    ul.nav-tabs-on-mobile li {
        width: 50%;
    }
    ul.nav-tabs-history-on-mobile li {
        width: 100%;
    }
    ul.nav-tabs-on-mobile li a, ul.nav-tabs-history-on-mobile li a {
        display: block;
        text-align: center;
    }
    .card-no-padding-on-mobile {
        padding: 0 !important;
    }

    /* Profile Mobile */
    .label-profile-on-mobile {
        width: 25% !important;
    }
    .col-text-input-profile-on-mobile {
        width: 55% !important;
        padding: 0 !important;
    }
    .btn-profile-on-mobile {
        width: 20% !important;
        padding: 0 !important;
    }
    .strong-display-on-mobile {
        width: 40%;
    }
    .col-display-on-mobile {
        text-align: center;
    }
    .btn-edit-profile-img {
        right: inherit !important;
    }
    .showall-on-mobile {
        text-align: right;
    }
}
@media (max-width: 991px) {
    
}