/* ------------------ LOADING STYLE ------------------------------- */
@keyframes ldio-8gc4kjnx9fm {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-8gc4kjnx9fm div {
    left: 150.35px;
    top: 66.65px;
    position: absolute;
    animation: ldio-8gc4kjnx9fm linear 1s infinite;
    background: #292664;
    width: 9.3px;
    height: 40.300000000000004px;
    border-radius: 3.627px / 3.627px;
    transform-origin: 4.65px 88.35000000000001px;
  }.ldio-8gc4kjnx9fm div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9444444444444444s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(2) {
    transform: rotate(20deg);
    animation-delay: -0.8888888888888888s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(3) {
    transform: rotate(40deg);
    animation-delay: -0.8333333333333334s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(4) {
    transform: rotate(60deg);
    animation-delay: -0.7777777777777778s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(5) {
    transform: rotate(80deg);
    animation-delay: -0.7222222222222222s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(6) {
    transform: rotate(100deg);
    animation-delay: -0.6666666666666666s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(7) {
    transform: rotate(120deg);
    animation-delay: -0.6111111111111112s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(8) {
    transform: rotate(140deg);
    animation-delay: -0.5555555555555556s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(9) {
    transform: rotate(160deg);
    animation-delay: -0.5s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(10) {
    transform: rotate(180deg);
    animation-delay: -0.4444444444444444s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(11) {
    transform: rotate(200deg);
    animation-delay: -0.3888888888888889s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(12) {
    transform: rotate(220deg);
    animation-delay: -0.3333333333333333s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(13) {
    transform: rotate(240deg);
    animation-delay: -0.2777777777777778s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(14) {
    transform: rotate(260deg);
    animation-delay: -0.2222222222222222s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(15) {
    transform: rotate(280deg);
    animation-delay: -0.16666666666666666s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(16) {
    transform: rotate(300deg);
    animation-delay: -0.1111111111111111s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(17) {
    transform: rotate(320deg);
    animation-delay: -0.05555555555555555s;
    background: #292664;
  }.ldio-8gc4kjnx9fm div:nth-child(18) {
    transform: rotate(340deg);
    animation-delay: 0s;
    background: #292664;
  }
  .loadingio-spinner-spinner-pc6b8g2r9j {
    width: 310px;
    height: 310px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }
  .ldio-8gc4kjnx9fm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-8gc4kjnx9fm div { box-sizing: content-box; }
  /* ------------------------------------------------------------------- */


@keyframes ldio-y4i9wq9ei49 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-y4i9wq9ei49 div {
  position: absolute;
  width: 61.60000000000001px;
  height: 61.60000000000001px;
  border: 22px solid #d4e0e9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-y4i9wq9ei49 div {
  animation: ldio-y4i9wq9ei49 1s linear infinite;
  top: 55.00000000000001px;
  left: 55.00000000000001px
}
.loadingio-spinner-rolling-a923dqk1cyb {
  width: 110px;
  height: 110px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-y4i9wq9ei49 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-y4i9wq9ei49 div { box-sizing: content-box; }